# DISCOGS_KEY=
# DISCOGS_SECRET=

APP_VERSION=0.0.1

APP_ENV=dev
APP_DEBUG=false
APP_SECRET=
APP_SHARE_DIR=var/share

# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=http://localhost
